.DS_Store
__pycache__
node_modules/
static/
env/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config.py
dockerlist.py
# Editor directories and files
*.go
*.png
*.jpg
*.txt
*.drawio
*.dio
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
